/* .regimen-submit-container {
    display: flex;
    justify-content: center;
    align-items: center; 
}

.exercise-item-container {
    max-width: 400px;
}

.regimen-form {
    position: absolute;
    top: 50px;
    left: 50px;
}

.exercises-on-regimen-form {

} */