.regimen-submit-container {
    display: flex;
    justify-content: center;
    align-items: center; 
}

.exercises-on-regimen-form {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
}

.regimen-form {
    position: absolute;
    top: 50px;
    left: 50px;
    width: 300px;
}

.exercise-item-container {
    min-width: 220px;
    min-height: 220px;
    border: 12px;
}

.spacer {
    width: 400px;
}

.exercise-text {
    max-width: 100px;
    max-height: 100px;
}